# Run QNS (QUIC Network Simulator) on PRs to test interop between the
# changes in the PR and the main branch.

name: QNS PR
on:
  pull_request:
    branches: ["main"]
    types: [opened, synchronize, reopened, ready_for_review]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number }}
  cancel-in-progress: true

permissions:
  contents: read

env:
  DELIM: 'vs.'
  TIMEOUT: 20

jobs:
  docker-image:
    name: Build Docker images for QNS
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - name: Do it
        run: |
          cd artifact
          mv git/ .git/
      - uses: actions/upload-artifact@v4
        with:
          name: QNS PR
          path: artifact/
          include-hidden-files: true